/* common share style */

body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.but-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;

}

.but-too {
    border-radius: 5px;
    border: solid 2px #FD6E0A;
    background: #ffffff;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}


/* nav relatet stylas */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px 0 226px;


}

.site-titel {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;


}

nav li {
    list-style: none;
    margin-right: 50px;



}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header Related Style */
.header {

    background-color: #FFF8F3;
}


.bannar {
    padding: 30px 30px 30px 150px;
    display: flex;
    /* align-items: center; */
}

.bannar .profile-picture {
    width: 400px;

}